.nav-tab-wrapper a.bp-integrations.nav-tab.nav-tab-active,
.nav-tab-wrapper a.bp-help.nav-tab,
.nav-tab-wrapper a.bp-credits.nav-tab,
.nav-tab-wrapper a.bp-integrations.nav-tab{
    display: none;
}

#toplevel_page_buddyboss-platform ul li:last-child {
  display: none;
}


#toplevel_page_buddyboss-platform ul li:nth-child(5),
#toplevel_page_buddyboss-platform ul li:nth-child(6),
#toplevel_page_buddyboss-platform ul li:nth-child(8){
  display: none;
}